*{
    font-family: "Noto Sans JP", sans-serif;;
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body {
    color:#333333;
}

a{
    color: inherit;
    text-decoration: none;
}
.container{
    width:100%;
    max-width: 1200px;
    padding: 0% 20px;
    margin:0 auto;
}

.section-title{
    display: inline-block;
    font-size: 64px;
    letter-spacing: 0.1em;
}

@media(max-width:768px){
    .section-title{
        font-size:44px;
    }
}

header {
    position: fixed;
    z-index: 9999;
    height:80px;
    width:100%;
    background-color:rgba(255,255,255,80%);
}

header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

header ul{
    display: flex;
    list-style: none;
    column-gap:40px;
    justify-content: space-between;
}

header a{
    font-size: 16px;
    font-weight: bold;
}

header a:hover{
    color: #1320e0;
}

@media(max-width:768px){
    header ul{
        display: none;
    }
}
.firstview{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    height: 100vh;
    background-image: url('images/hero-image.png');
    background-position: center;
    background-size: cover;
}
.firstview h1{
    font-size: 100px;
}
.firstview p{
    font-size: 20px;
}

@media(max-width: 768px){
    .firstview h1{
        font-size: 56px;
    }
}

.about{
    padding:140px 0px;
}

.profile{
    display:flex;
    column-gap: 5%;
}
.profile h2{
    font-size:64px;
    letter-spacing:0.1em;
}
.profile h3{
    margin-top: 72px;
    font-size:24px;
    letter-spacing: normal;
}

.profile p{
    margin-top: 24px;
    font-size:16px;
}
.profile img{
    width:50%;
}

@media(maxwidth:768px){
    .about{
        padding:80px 0;
    }
    .profile{
        flex-direction: column;
        row-gap: 24px;
    }
    .profile h3{
        margin-top: 24px;
    }
    .profile p{
        margin-top:16px;
    }
    .profile img{
        width:100%;
    }
}

.school-club{
    margin-top: 200px;
    display: flex;
    column-gap:5%;
}
.school-club img{
    width:100%;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
}
.school-club h3{
    margin-top:8px;
}

.scool-club p{
    margin-top:16px;
}

.school-club a{
    display: inline-block;
    margin-top: 32px;
    font-weight: bold;
    border-bottom:1px solid #333333;
}

@media(max-width: 768px){
    .school-club{
        flex-direction: column;
        row-gap:40px;
        margin-top: 100px;
    }

    .school-club img{
        height:220px;
    }

    .school-club a{
        margin-top:24px;
    }
}
.school-club .content{
    width:100%;
}

.club{
    padding: 140px 0;
    background-color: #fffdf3;
}
.club-text{
    position: relative;
    z-index: 4;
    width:40%;
}
.club-text h2{
    font-size: 48px;

}

.club-text p{
    font-weight:bold;
    line-height: 1.8;
    letter-spacing: 0.1em;
    margin-top: 16px;
    font-size:18px;
}

.club .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.club-img{
    position: relative;
    width:50%;
    aspect-ratio: 1/1.25;
}

.club-img img{
    position: absolute;
}
.club-img img:nth-child(1){
    top:0;
    left:0;
    z-index: 3;
    width:65%;
}

.club-img img:nth-child(2){
    top:30%;
    bottom:0;
    z-index: 1;
    width:85%;
}

.club-img img:nth-child(3){
    width:40%;
    z-index: 2;
    
}
 
@media(max-width:768px){
    .club{
        padding: 80px 0;
    }
    .club .container{
        flex-direction:column;
        row-gap:16px;
    }
    .club-img{
        width:100%;
    }
    .club-text{
        width:100%;
    }
}

.favorite{
    padding: 140px 0;
    text-align: center;
    background-image: url(images/favorite-background.png);
    background-position: center;
    background-size: cover;
}
.favorite .section-title{
    color: #fff;
    border-bottom: 6px double #fff;
}

.favorite-contents{
    display: flex;
    column-gap: 16px;
    margin-top: 80px;
    justify-content:space-between;
    
}
.favorite-content{
    width:320px;
    padding: 40px;
    background-color: rgba(255,255,255,80%);
    border-radius:16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.favorite-content:hover{
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.favorite-content img{
    width:200px;
    aspect-ratio:1/1;
    border-radius: 50%;
    object-fit: cover;
}
.favorite-content h3{
    font-size: 24px;
    margin-top: 24px;
   
}
.favorite-content p{
    font-size: 16px;
    text-align: left;
    margin-top: 8px;
}
@media(max-width:768px){
    .favorite{
        padding:80px 0;
    }
    .favorite-contents{
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
    }
    .favorite-content{
        max-width: 100px;
    }
    .favorite-content img{
        width:200px;
        aspect-ratio:1/1;
        border-radius:50%;
        max-width: 100%;
    }
}
.works{
    padding: 140px 0;
    text-align: center;
}
.works .section-title{
    border-bottom:3px solid #f90;
}   

.works-content {
    display: flex;
    background-color: #fff;
    column-gap: 32px;
    text-align: left;
    padding:40px;
    margin-top: 40px;
    box-shadow:0 12px 30px rgba(0, 0, 0, 0.12);
}

.works-content img{
    width:320px;
    height:180px;
    object-fit: cover;
}

.works-content h3{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap:16px;
    font-size: 28px;
}

.works-content p{
    font-size: 16px;
    margin-top: 16px;
}
.works-content span{
    font-size: 16px;
}

@media(max-width:768px){
    .works{
        padding:80px 0;
    }
    .works-content{
        flex-direction: column;
        row-gap:24px;
        padding:20px;
    }
    .works-content img{
        width:100%;
    }
}
.contact{
    padding: 140px 0;
    text-align: center;
}
.contact .container{
    max-width:800px;
}
.contact .section-title{
     border-bottom:3px solid #f90;
}

.contact p{
    margin-top: 48px;
    text-align-last: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.1em;
}
.contact .sns{
    display: flex;
    column-gap:50px;
    justify-content: center;
    margin-top: 100px;
}
.contact a{
    display: inline-block;
    width: 200px;
    font-size: 24px;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 16px;
}

.contact .sns-twitter{
    background-color: #D300C5;
}

.contact .sns a:hover{
    color:rgb(33, 18, 99);
}

.contact .sns-facebook{
    background-color: #6891ea;
}

.contact .sns-website{
    background-color: #3cad3c;
}



@media(max-width:768px){
    .contact{
        padding: 80px 0;
    }
    .contact p{
        font-size: 20px;
    }
    .contact .sns{
        font-display: column;
        row-gap: 10px;
        margin-top: 50px;
    }
    .contact a{
        width: 100%;
        line-height: 60px;
    }
}

footer{
    display: flex;
    height: 80px;
    background-color: #edece7;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-shadow: #333333;
}